.landing-page{
    text-align: center;
    background-color: #e9f5f0;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.Head-text{
    font-family:serif;
    font-weight: bolder;
    font-size: 3rem;
    color:#a16f4b ;
}

.p-text{
    text-align: center;
    font-size:larger;
    font-weight:500;
}