/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #543a27;
    padding: 1rem;
    border: 1px solid #543a27;
}

.navbar-brand a {
    font-size: 2rem;
    font-weight:bolder;
    color: #543a27;
    text-decoration: none;
    font-family: 'Caveat', cursive;
}

.logo-image{
    height: 150px;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    color: #543a27;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #a16f4b;
}

/* Toggle menu for mobile devices */
.navbar-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #543a27;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #f5d9bf;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .navbar-menu.open {
        display: block;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }

    .nav-item {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-toggle.open .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.open .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.open .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}